<div class="container" style="background-color: #FFD700 ; padding-bottom: 40px; margin-top: 30px" >
    <h1 style="text-align: center; color:crimson">Instructions</h1>
    <h3 style="color:darkmagenta">Please go through the following instructions to get the idea of this application:</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" >Select a valid <b style="color: aquamarine;">"Issue Date"</b> of the book.</li>
        <li class="list-group-item list-group-item-action" >Select a valid <b>"Return Date"</b> of the book.</li>
        <li class="list-group-item list-group-item-action" >Select the <b style="color:burlywood">"Country"</b> for the calculation rate.</li>
        <li class="list-group-item list-group-item-action" style="color:red">Note: All the above steps are mandatory for calculation of penalty!</li>
        <li class="list-group-item list-group-item-action" >Press the <b style="color:green;"> Calulate Penalty</b> button to get the penalty amount</li>
    </ul>

</div>
<div style="margin-top: 20px; margin-bottom: 20px; margin-left: 112px;">
    <button type="button" class="btn btn-success" routerLink="/calculator" routerLinkActive="active" >Let's Start Calculating</button>
</div> 